.fancy-carousel-wrapper-element {
    background-color: transparent;
    padding: 5rem;
}

.fancy-carousel-border {
    background-color: transparent;
    z-index: 5;
}

.fancy-carousel {
    position: relative;
    border-radius: 50%;
    transition: 0.5s;
    transform-origin: center center;
    background-color: transparent;
}

.fancy-carousel::before {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #000;
    border-radius: 50% 0 0 50%;
}

.fancy-carousel-image, .fancy-carousel-central-image {
    border-radius: 50%;
}

.navigators {
    z-index: 1;
    display: flex; 
}

.navigation-button {
    background: var(--green1);
    color: white;
    border-radius: 50%;
    outline: none;
    border: none;
}

.navigation-button:hover {
    outline: none;
    border: none;
    cursor: pointer;
}

.fancy-carousel-element {
    position: absolute;
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.invisible {
    display: none;
}