.fancy-carousel-wrapper-element {
    background-color: transparent;
}

.fancy-carousel-border {
    background-color: transparent;
    z-index: 5;
}

.fancy-carousel {
    position: relative;
    border-radius: 50%;
    transition: 0.5s;
    transform-origin: center center;
    background-color: transparent;
}

.fancy-carousel-navigators {
    z-index: 1;
    display: flex;
    bottom: 0;
    left: 0;
    background: transparent;
}

.fancy-carousel-navigation-button {
    color: white;
    border-radius: 50%;
    outline: none;
    border: none;
}

.fancy-carousel-navigation-button:hover {
    outline: none;
    border: none;
    cursor: pointer;
}

.fancy-carousel-element {
    position: absolute;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    bottom: 0;
    transition: 0.5s;
}

.fancy-carousel-image, .fancy-carousel-central-image, .fancy-carousel-element {
    border-radius: 50%;
}

.invisible {
    display: none;
}